<div class="container" >
    <div class="row">
        <div class="col-sm-9">
            <div class="seatbookingbox">
                <div class="row seatrows">
                    <div class="well">
                        <select class="selectpicker" id="Seatclass" >
                            <option>SELECT CLASS</option>
                            <option>Premier</option>
                            <option>Executive</option>
                        </select>
                        <select class="selectpicker" id="noofseats" ng-model="$ctrl.userdefiednumber">
                            <option>Tickets</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>

                    </div>
                </div>
                <div id="gold">
                    <div class="seatcatcontainer"><p>Premier</p>
						<div class="headingborder"></div>
					</div>

                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="A1">A1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A2">A2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A3">A3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A4">A4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A5">A5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A6">A6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A7">A7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A8">A8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A9">A9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A10">A10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A11">A11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="A12">A12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="B1">B1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B2">B2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B3">B3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B4">B4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B5">B5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B6">B6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B7">B7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B8">B8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B9">B9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B10">B10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B11">B11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="B12">B12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="C1">C1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C2">C2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C3">C3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C4">C4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C5">C5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C6">C6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C7">C7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C8">C8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C9">C9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C10">C10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C11">C11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="C12">C12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="D1">D1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="D1">D12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="E1">E1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E2">E2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E3">E3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E4">E4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E5">E5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E6">E6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E7">E7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E8">E8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E9">E9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E10">E10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E11">E11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="E12">E12</div></div>
                    </div>
                </div>
                <div id="silver">
                    <div class="seatcatcontainer"><p>Executive</p>
					<div class="headingborder"></div>
					</div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="F1">F1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F2">F2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F3">F3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F4">F4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F5">F5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F6">F6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F7">F7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F8">F8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F9">F9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F10">F10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F11">F11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="F12">F12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="G1">G1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G2">G2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G3">G3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G4">G4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G5">G5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G6">G6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G7">G7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G8">G8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G9">G9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G10">G10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G11">G11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="G12">G12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="H1">H1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H2">H2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H3">H3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H4">H4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H5">H5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H6">H6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H7">H7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H8">H8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H9">H9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H10">H10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H11">H11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="H12">H12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="I1">I1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I2">I2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I3">I3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I4">I4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I5">I5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I6">I6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I7">I7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I8">I8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I9">I9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I10">I10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I11">I11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="I12">I12</div></div>
                    </div>
                    <div class="row seatrows">
                        <div class="col-xs-1"><div class="seatname" id="J1">J1</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J2">J2</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J3">J3</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J4">J4</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J5">J5</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J6">J6</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J7">J7</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J8">J8</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J9">J9</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J10">J10</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J11">J11</div></div>
                        <div class="col-xs-1"><div class="seatname" id="J12">J12</div></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-3">
		<div class="userbookingsummarycontainer">
		<div class="summaryHeader"><div><span>Booking Details</span></div></div>
            <div class="userbookingsummarywrapper">
                <div class="userbookingsitems"><div><span class="userbookingsitemlabel"> Movie Name:</span><span>{{$ctrl.movietitle}}</span></div></div>
                <div class="userbookingsitems"><div><span class="userbookingsitemlabel">Therater:</span><span>{{$ctrl.name1}}</span></div></div>
                <div class="userbookingsitems"><div><span class="userbookingsitemlabel">Show Date:</span><span> {{$ctrl.date}}</span></div></div>
                <div class="userbookingsitems"><div><span class="userbookingsitemlabel">Show Time:</span><span>{{$ctrl.time}} hr</span></div></div>
                <div ng-if="$ctrl.selectedseat.length > 0" class="userbookingsitems"><div><span class="userbookingsitemlabel">Slected Seat:</span><span ng-repeat="seat in $ctrl.selectedseat">{{seat}},</span></div></div>
				<div class="userbookingsitems"><span class="userbookingsitemlabel">Seats Selected :</span><span class="itembody" id="st">0</span></div>
				<div class="userbookingsitems"><span class="userbookingsitemlabel">Total Seats :</span><span class="itembody" id="totalst">0</span></div>
				<div class="grantotalcontainer"><span class="summarygrandtotal">Total:</span><span  class="badge" style="font-size:1em">Rs <span id="amt">0</span></span></div>
				<button class="bookingsummarybutton" ng-click="$ctrl.paymentpage()">Procced to Pay</button>
		   </div>
            
		</div>
		</div>
    </div>
</div>
